<nz-card nzTitle="友情链接">
    <div class="toolbar-box">
        <button nz-button nzType="primary" (click)="edit()">添加</button>
    </div>
    <nz-table [nzData]="datas" [nzLoading]="loading" [nzFrontPagination]="false" [nzTotal]="total"
        (nzQueryParams)="tableChange($event)" nzShowSizeChanger>
        <thead>
            <tr>
                <th>名称</th>
                <th>
                    域名
                </th>
                <th nzWidth="100px">
                    状态
                </th>
                <th nzWidth="100px">
                    权重
                </th>
                <th nzWidth="180px">
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of datas">
                <td>{{item.siteName}}</td>
                <td>{{item.siteUrl}}</td>
                <td>
                    <nz-tag *ngIf="item.auditStatus==0" nzColor="warning">未审核</nz-tag>
                    <nz-tag *ngIf="item.auditStatus==1" nzColor="success">通过</nz-tag>
                    <nz-tag *ngIf="item.auditStatus==2" nzColor="error">拒绝</nz-tag>
                </td>
                <td>{{item.weight}}</td>
                <td>
                    <button nz-button nzType="link" (click)="edit(item.id)">编辑</button>
                    <nz-divider nzType="vertical"></nz-divider>
                    <button nz-button nzType="link"  nzDanger (click)="del(item)">删除</button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>