@{
    Layout = "_Layout";
}

<div class="card m-b-5">
    <div class="card-header">
        <h2 class="card-title d-flex-row-align-center"><i class="ri-file-line m-r-1"></i>关于本站</h2>
    </div>
    <div class="card-body">
        <h3 class="m-t-2">站长简介</h3>
        <p>你好，我是本站站长青城</p>
        <p>
            本人从事Web开发已经超过7年，建站目的是为了分享Web开发以及移动端开发的技术类文章，希望和更多的程序员相互交流和学习。
        </p>
        <p>目前工作主要使用C#，从事方向是.NET后端。并希望长期在一线从事开发工作。</p>
        <p>站长目前的业余兴趣在IOS原生开发以及Web前端</p>
        <h3 class="m-t-2">站长履历</h3>
        <ul>
            <li>2014年开始从事Android客户端开发驾考软件，社交网站客户端等</li>
            <li>2016年使用winform开发零售Pos终端以及ERP系统开发</li>
            <li>2017年-2021年，进入游戏行业，使用Cocos Creator和Egret开发微信小游戏，以及基于ASP.NET MVC的网络游戏Web后台系统开发</li>
            <li>2021至今，目前就职于一家自助洗车机公司，担任后端工程师</li>
        </ul>
        <h3 class="m-t-2">关于本站</h3>
        <p>本站分享内容包括且不限于:原生javascript，html5，css3，vue.js，react，angular，以及移动端原生应用开发</p>
        <p>欢迎关注本站公众号【前端小助手】，不定时和你分享一些实用的文章</p>
        <img src="~/img/qr.jpg" style="max-width: 100%"/>
    </div>
</div>