@model ErrorViewModel
@inject IHttpContextAccessor http
@{
    ViewData["Title"] = "Error";
    Layout = null;
    var ErrorMsg = http?.HttpContext?.Items["ErrorMsg"] ?? "服务器繁忙";
}

<div style="align-items: center; display: flex; flex-direction: column; justify-content: center;">
    <h1>@ErrorMsg</h1>
    <a href="/">返回首页</a>

    @if (Model?.ShowRequestId ?? false)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model?.RequestId</code>
        </p>
    }

</div>