<form nz-form [formGroup]="formGroup" nzLayout="vertical">
    <nz-form-item>
        <nz-form-label nzRequired>邮箱</nz-form-label>
        <nz-form-control nzErrorTip="请输入正确的邮箱格式">
            <input nz-input formControlName="email">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzRequired>账号</nz-form-label>
        <nz-form-control nzErrorTip="账号不能为空">
            <input nz-input formControlName="userName">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzRequired>密码</nz-form-label>
        <nz-form-control nzErrorTip="密码不能为空">
            <input nz-input type="password" formControlName="password">
        </nz-form-control>
    </nz-form-item>
    <p-form-submit-box>
        <button nz-button nzType="primary" [nzLoading]="saving" (click)="save()"
            [disabled]="!formGroup.valid">保存</button>
        <button nz-button type="button" (click)="close()">取消</button>
    </p-form-submit-box>
</form>