@using Panda.Site.Services.Post
@using Panda.Tools.Helper
@inject IPostService PostService;
@{
    var list = await CacheHelper.CacheInvokeAsync(() => { return PostService.GetNewest(6); }, "", TimeSpan.FromMinutes(30));
}
<div class="post-newest">
    @foreach (var item in list)
    {
        <ul class="post-newest-item">
            <li>
                <a href="/post/@(item.Link).html" target="_blank" title="@item.Title" class="color-a-1 rounded">@item.Title</a>
            </li>
        </ul>
    }
</div>