@model Panda.Entity.Models.ArticleDetailItem
@{
    ViewData["Title"] = "post";
}
@{
    if (Model == null)
    {
        <h1>404</h1>
        return;
    }
}

<div class="post-main">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-8 col-xl-9 col-xxl-9">
            <header>
                <h1>@Model.Title</h1>
            </header>
            <div class="post-body">
                @(Html.Raw(Model.Content))
            </div>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

        </div>
    </div>
</div>

@section css{
    <link rel="stylesheet" href="~/css/highlight.css" asp-append-version="true"/>
}

@section Scripts
{
    <script src="~/js/highlight.js"></script>
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', (event) => {
      document.querySelectorAll('pre code').forEach((el) => {
        hljs.highlightElement(el);
      });
    });
    </script>
}