@import "config";
.card{
  display: flex;
  flex-direction: column;
  padding: .8rem;
  box-sizing: border-box;
  background: #fff;
  .card-header{
   
    .card-title{
      color: $card_header_color;
      font-size: 1.2rem;
    }
    margin-bottom: 0.6rem;
  }
  .card-body{
    ul{
      li{
        margin-bottom: .8rem;
        margin-top: .8rem;
      }
    }
  }
  .card-footer{
    
  }
}