@import "./config.scss";

.comments {
    display: flex;
    flex-direction: column;
}

.comments .right {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.comment-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-item-children {
    margin-left: 20px;
}

.paging {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 100px;
}

.paging > select {
    margin: 0 10px 0 10px
}

.comment-header {
    border-left: 3px solid $theme-color;
    padding-left: 10px;
    margin-bottom: 20px;
}

.comment-item {
    border: 1px solid $border-color;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    .comment-item-body {
        padding: 10px;
    }
    .separator{
        padding: 0 5px 0 5px;
    }
    .nickName{
        margin-left: 5px;
    }
}

.paging{
    margin-top: 15px;
}

.input-body{
    display: flex;
    flex-direction: column;
}
