
.d-flex-row-align-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-align-end {
  align-content: end;
}

.flex-1 {
  flex: 1;
}