<nz-spin [nzSpinning]="loading">
    <form nz-form nzLayout="vertical" [formGroup]="formGroup">
        <nz-form-item>
            <nz-form-label nzRequired>网站名称</nz-form-label>
            <nz-form-control nzHasFeedback>
                <input formControlName="siteName" nz-input>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>网站说明</nz-form-label>
            <nz-form-control nzHasFeedback>
                <textarea formControlName="siteDesc" rows="5" nz-input></textarea>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>备案号</nz-form-label>
            <nz-form-control nzHasFeedback>
                <input formControlName="icpNo" nz-input>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>统计代码</nz-form-label>
            <nz-form-control nzHasFeedback>
                <ngx-codemirror formControlName="statisticCode" [options]="options"></ngx-codemirror>
            </nz-form-control>
        </nz-form-item>
        <div class="save-box-left">
            <button nz-button nzType="primary" [nzLoading]="saving" [disabled]="!formGroup.valid" (click)="save()">保存</button>
        </div>
    </form>
</nz-spin>