html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background: #eaedf7 !important;
}

a {
    color: #1b6ec2;
    text-decoration: none;
}

.color-a-1 {
    color: #666;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .content {
        /*min-height: calc(100vh - 220px - 57px)*/
        flex: 1;
    }
}

.footer {
    p {
        height: 1.2rem;
    }
}

.post-list {
    margin-bottom: 2rem;
    transform: translateY(0);
    transition: 0.5s all ease-in-out;

    &:hover {
        transform: translateY(8px);
        transition: 0.5s all ease-in-out;
    }
}

.post-list-item {
    display: flex;
    flex-direction: row;
    transition: .3s all linear;
    padding: 0.5rem;
    box-sizing: border-box;

    &:hover {
        transition: .3s all linear;
    }

    .img-box {
        width: 200px;
        height: 200px;
        //background: #868e96;
        border-radius: 5px;
        padding: 10px;
        box-sizing: border-box;

        @media (max-width: 765px) {
            display: none;
        }

        img {
            width: 180px;
            height: 180px;
            border-radius: 5px;
            max-width: 200px;
        }
    }

    .item {
        display: flex;
        flex-direction: column;

        .top {
            flex: 1;
            box-sizing: border-box;
            padding-left: 0.6rem;

            .title {
                font-size: 1.4rem;
                padding-bottom: 0.8rem;
                padding-top: 0.4rem;
                transform: translateX(0);
                transition: .5s all linear;

                a {
                    text-decoration: none;
                }

                &:hover {
                    a {
                        text-decoration: underline;
                    }
                }
            }
        }

        .info-bar {
            padding-left: 0.6rem;
            box-sizing: border-box;
        }
    }
}

.crumbs {
    display: flex;
    flex-direction: row;
    font-size: 1rem;

    a {
        margin-left: 0.8rem;
        margin-right: 0.8rem;

        &:first-child {
            margin-left: 0 !important;
        }
    }

    span {
        font-size: 1rem;
    }
}

.line {
    background: #ccc;
    height: 1.2px !important;
}

.post {
    padding: 1.5rem;
    box-sizing: border-box;
}

.post-title {
    font-size: 1.5rem;
}

.post-body {
    img {
        max-width: 100%;
    }
}

.toolbar {
    font-size: 1rem;
    min-height: 2rem;
    word-break: break-all;
    display: flex;
    flex-direction: row;
    align-items: center;

    i {
        margin-right: 5px;
        margin-left: 8px;
        font-size: 1.1rem;
    }
}

.post-newest {
    display: flex;
    flex-direction: column;

    .post-newest-item {
        a {
            font-size: 14px;
            line-height: 30px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.cate-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;

    .cate-item {
        display: inline-block;
        width: 45%;
        text-align: center;
        margin-bottom: .5rem;
        background: #eee;
        height: 2rem;
        line-height: 2rem;
        font-size: 14px;

        &:hover {
            background: #1b6ec2;
            text-decoration: underline;
            transition: 0.3s all linear;

            a {
                color: white !important;
            }
        }
    }
}

.tag-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    .tag-item {
        display: inline-block;
        padding: 5px 8px;
        text-align: center;
        margin-right: 0.3rem;
        background: #dceeff;

        a {
            color: #337ab7;
            font-size: 14px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.navbar-nav {
    .nav-link {
        display: flex;
        flex-direction: row;
        align-items: center;

        i {
            margin-right: 4px;
        }
    }
}

.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #191b1d;
    color: #888;

    a {
        color: #888;

        &:hover {
            color: #eee;
        }
    }
}

.friendlink {
    display: flex;
    flex-direction: column;

    .friendlink-title {
        color: #eee;
        font-size: 1rem;
        padding-left: 8px;
        border-left: 6px solid #eee;
    }

    .friendlink-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .friend-link-item {
            display: inline-block;
            padding: .3rem 0.4rem;
            margin-left: 0;
        }
    }
}

.comment-box {
    padding: 0 0 1.5rem 0;

    .comment-nickname {
        font-size: 1.5rem;
        font-weight: 400;
        margin-right: 8px;
    }

    border-bottom: .5px solid #ccc;

    .comment-content {
        padding: 1rem;
        border-radius: 8px;
    }
}

.comment-more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    padding: 1rem;

    label {
        cursor: pointer;
    }
}
