<!-- <nz-card class="search-box">

  <div nz-row>
    <div nz-col>

    </div>
  </div>
</nz-card> -->
<nz-card>
  <div nz-row class="toolbar-box">
    <div nz-col >
      <button nz-button nzType="primary" (click)="edit(0)">添加</button>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-table #basicTable [nzData]="dataSet" [nzLoading]="loading" [nzFrontPagination]="false">
        <thead>
          <tr>
            <th>名称</th>
            <th>数量</th>
            <th>显示</th>
            <th>说明</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.categoryName}}</td>
            <td>{{data.count}}</td>
            <td>{{data.isShow?'是':'否'}}</td>
            <td>{{data.categoryDesc}}</td>
            <td>
              <a (click)="edit(data.id!)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="del(data.id!)">删除</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</nz-card>