@page
@model PandaSite.Pages.Install.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>系统安装初始化配置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @await Html.PartialAsync("Partial/_css")
</head>

<body>
<div>
    <div class="container">
        <h1>系统安装</h1>
        <form method="post" asp-page-handler="InstallSave">
            <div class="form-group mb-3">
                <label asp-for="SiteInitModel.DbConnectString" class="form-label"></label>
                <input asp-for="SiteInitModel.DbConnectString" class="form-control"/>
                <span asp-validation-for="SiteInitModel.DbConnectString" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-primary">测试连接</button>
            <button type="submit" class="btn btn-primary">保存</button>
        </form>

    </div>
</div>
</body>
@await Html.PartialAsync("Partial/_js")
<script></script>
</html>