@using Panda.Services.Posts
@inject IPostService _postService
<div class="card m-b-5">
    <div class="card-header">
        <h2 class="card-title d-flex-row-align-center"><i class="ri-file-line m-r-1"></i>近期文章</h2>
    </div>
    <div class="card-body">
        <ul class="">
            @{
                var list = await _postService.GetLatestPosts(5);
                foreach (var item in list)
                {
                    <li>
                        <a href="/post/@(item.Id).html">@item.Title</a>
                    </li>
                }
           }
        </ul>
    </div>
</div>