@using Panda.Services.Category
@using Panda.Entity.Requests
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Panda.Web</title>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true"/>
</head>
@inject ICategoryService _categoryService
<body>
<header>
    <nav class="navbar">
        <ul>
            @{
                var list = await _categoryService.GetCategories(new CategoryPageRequest()
                {
                    Index = 1,
                    Size = 20
                });
                foreach (var categoryItem in list)
                {
                    <li>
                        <a href="/category/@categoryItem.Id">@categoryItem.CateName</a>
                    </li>
                }
            }
        </ul>
    </nav>
</header>
<div class="container">
    <main>
        @RenderBody()
    </main>
</div>

<footer>
    <div>
        <p> &copy; 2021 - Panda.Web - <a href="/about.html">about</a></p>
        <p>备案号：<a href="/">川12336478896554</a></p>
    </div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>