@using Panda.Services.DicData
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Panda.Web</title>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true"/>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    @await RenderSectionAsync("css", required: false)
</head>
@inject ICategoryService _categoryService
@inject IDicDataService _dicDataService
<body>
<header>
    <nav class="navbar">
        <main>
            <a class="site-title" href="/">@await _dicDataService.GetItemByCache("site:site_name")</a>
            <ul class="site-nav-bar">
                <li>
                    <i class="ri-home-smile-line"></i>
                    <a href="/">首页</a>
                </li>
                <li>
                    <i class="ri-contacts-line"></i>
                    <a href="/">与我联系</a>
                </li>
                <li>
                    <i class="ri-rss-line"></i>
                    <a href="/feed" target="_blank">RSS订阅</a>
                </li>
            </ul>
        </main>
    </nav>
</header>
<div class="content">
    <main>
        @RenderBody()
    </main>
</div>

<footer>
    <main>
        <p> &copy; 2021 - Panda.Blog版权所有 - 本站使用<a class="p-l-1 p-r-1" href="https://github.com/dotnet/aspnetcore" target="_blank">ASP.NET Core 6.0</a>强力驱动</p>
        @{
            await Html.RenderPartialAsync("_FriendLinkPartialView");
        }
        @{
            var icp = await _dicDataService.GetItemByCache("site:icp");
            if (string.IsNullOrWhiteSpace(icp) == false)
            {
                <p>
                    备案号：
                    <a href="https://beian.miit.gov.cn" target="_blank" rel="noopener noopener">@icp</a>
                </p>
            }
        }
    </main>
</footer>
@Html.Raw(await _dicDataService.GetItemByCache("site:statistics"))
<script src="~/js/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>