<div class="card m-b-5">
    <div class="card-header">
        <h2 class="card-title d-flex-row-align-center"><i class="ri-search-line"></i> 搜索</h2>
    </div>
    <div class="card-body p-b-2 p-t-1">
        <form action="/search" method="get" class="search-card">
            <input placeholder="输入内容搜索" name="keyword" class="p-input p-l-1"/>
            <button type="submit" class="p-button">搜索</button>
        </form>
    </div>
</div>