@using Panda.Entity.Responses
@using Panda.Entity.Models
@{
    ViewData["Title"] = "Home Page";
}

@{
    var res = ViewData["res"] as PageResponse<ArticleItem>;
}

<div>
    @foreach (var item in res?.Data)
    {
        <div>
            <a href="/article/@item.Id">@item.Title</a>
        </div>
    }
</div>

<div>
    @{
        var pageCount = res.Total.GetPageSum(10);
        @if (pageCount > 1)
        {
            <ul>
                @{

                    @for (var i = 1; i <= pageCount; i++)
                    {
                        <li>@i</li>
                    }
                }
            </ul>
        }
    }
</div>

<h1>@Context.User.Identity.IsAuthenticated</h1>
<h1>@Context.User.Identity.Name</h1>