@using Panda.App.Services.Post

@inject IPostService PostService

@{
    var tags = await PostService.GetTags(1, 50);
}

<div class="tag-list">
    @foreach (var item  in tags)
    {
        <div class="tag-item mt-1 rounded-1">
            <a href="/tag/@(item)_1">@item</a>
        </div>
    }
</div>