<nz-spin [nzSpinning]="loading">
    <form nz-form nzLayout="vertical" [formGroup]="formGroup">
        <nz-form-item>
            <nz-form-label nzRequired>昵称</nz-form-label>
            <nz-form-control nzMd="5" >
                <input  nz-input >
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired>用户名</nz-form-label>
            <nz-form-control nzMd="8">
                <input nz-input >
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired>密码</nz-form-label>
            <nz-form-control nzMd="8">
                <input nz-input >
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired>STMP地址</nz-form-label>
            <nz-form-control nzMd="8">
                <input nz-input >
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired>STMP端口</nz-form-label>
            <nz-form-control nzMd="4">
                <nz-input-number></nz-input-number>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired>使用SSL</nz-form-label>
            <nz-form-control nzMd="4">
                <nz-switch></nz-switch>
            </nz-form-control>
        </nz-form-item>
        <p-form-submit-box [left]="true">
            <button nz-button nzType="primary">保存</button>
        </p-form-submit-box>
    </form>
</nz-spin>