<nz-spin [nzSpinning]="loading">
    <form nz-form nzLayout="vertical" [formGroup]="formGroup">
        <nz-form-item>
            <nz-form-label nzSpan="4" nzRequired>网站名称</nz-form-label>
            <nz-form-control nzErrorTip="名称不能为空">
                <input nz-input formControlName="siteName">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzSpan="4" nzRequired>域名</nz-form-label>
            <nz-form-control nzErrorTip="域名不能为空">
                <input nz-input formControlName="siteUrl">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzSpan="4" nzRequired>权重</nz-form-label>
            <nz-form-control>
                <nz-input-number formControlName="weight"></nz-input-number>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzSpan="4" nzRequired>状态</nz-form-label>
            <nz-form-control>
                <nz-radio-group formControlName="auditStatus" nzButtonStyle="solid">
                    <label nz-radio-button [nzValue]="0">未审核</label>
                    <label nz-radio-button [nzValue]="1">通过</label>
                    <label nz-radio-button [nzValue]="2">拒绝</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
        <div class="save-box">
            <button nz-button nzType="primary" [disabled]="!formGroup.valid" [nzLoading]="saving" (click)="save()">保存</button>
            <button nz-button (click)="close()">取消</button>
        </div>
    </form>
</nz-spin>