<nz-spin [nzSpinning]="loading">
    <form nz-form [formGroup]="formGroup" (submit)="save()" [nzLayout]="'vertical'">
        <nz-form-item>
            <nz-form-label>分类名称</nz-form-label>
            <nz-form-control nzErrorTip="分类名称不能为空" nzHasFeedback>
                <input nz-input formControlName="categoryName">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>说明</nz-form-label>
            <nz-form-control nzErrorTip="" nzHasFeedback>
                <input nz-input formControlName="categoryDesc">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>是否显示</nz-form-label>
            <nz-form-control nzErrorTip="" nzHasFeedback>
                <nz-switch formControlName="isShow"></nz-switch>
            </nz-form-control>
        </nz-form-item>
        <div class="save-box">
            <button nz-button nzType="default" type="button" (click)="close()">取消</button>
            <button nz-button nzType="primary" [disabled]="!formGroup.valid">保存</button>
        </div>
    </form>
</nz-spin>