@inject ICategoryService _categoryService

<div class="card m-b-5">
    <div class="card-header">
        <h2 class="card-title d-flex-row-align-center"><i class="ri-folder-2-line m-r-1"></i> 分类</h2>
    </div>
    <div class="card-body">
        <ul >
            @{
                var categories = await _categoryService.GetCategoriesByCache(new CategoryPageRequest {Index = 1, Size = 50, IsShow = true}, TimeSpan.FromMinutes(5));
                foreach (var categoryItem in categories)
                {
                    <li>
                        <a href="/category/@categoryItem.Id">@categoryItem.CategoryName</a>
                    </li>
                }
            }
        </ul>
    </div>
</div>