@using Panda.Services.FriendlyLink
@inject IFriendlyLinkService _friendlyLinkService
<div class="friend-link">
    <span class="friend-link-item">友情链接：</span>
    @{
        var result = await _friendlyLinkService.GetListByCache(new FriendlyLinkRequest
        {
            Index = 1,
            Size = 20
        });
        foreach (var item in result.Data)
        {
            <a class="friend-link-item" href="@item.SiteUrl" referrerpolicy="unsafe-url" target="_blank">@item.SiteName</a>
        }
    }
    <a href="/" class="friend-link-item" target="_blank">[申请友链]</a>

</div>