<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzTheme="dark" nzCollapsible [nzCollapsedWidth]="0" nzWidth="256px" nzBreakpoint="lg"
    [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/" target="_blank">
        <h1>网上冲浪博客</h1>
      </a>
    </div>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed" routerLinkActive nzTheme="dark">

      <li nz-menu-item nzTitle="Dashboard" nzIcon="dashboard" [nzMatchRouterExact]="true">
        <i nz-icon nzType="dashboard" nzTheme="outline"></i>
        <span>
          <a routerLink="/admin">仪表盘</a>
        </span>
      </li>
      <li nz-submenu nzTitle="博客管理" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter *appAuth="'文章管理-查看'">
            <a routerLink="/admin/blog/post">我的文章</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/','admin','blog','category','list']">我的分类</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/blog/tag/list">我的标签</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/blog/friendlink">友情链接</a>
          </li>
          <li nz-menu-item nzMatchRouter *appAuth="'网站设置-站点设置'">
            <a routerLink="/admin/blog/site">网站设置</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzTitle="系统管理" nzIcon="setting">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="user" nzTheme="outline"></i>
            <span> <a routerLink="/admin/sys/account/list">用户管理</a></span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>